head {
  background-color: #505050;
  position: top, left;
  margin: 10% 20%;

  background-color:;
  position:;
  margin:;
  opacity:;
}
body {
  background-color: #380000;
  opacity: 85%;

  background-color:#041e75;
  position:;
  margin:;
  opacity:;

  background-color:;
  position:;
  margin:;
  opacity:;

  background-color:;
  position:;
  margin:;
  opacity:;
}
